/************************************
************** GENERAL **************
*************************************/
body {
    background-color: #f1eeee;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #262626;
}

div {
    background-color: white;
    text-align: center;
    padding: 60px 9%;
    margin: 15px 6%;
}

/************************************
************** HEADER ***************
*************************************/
div#header {
    height: 72px;
    padding: 0;
    text-align: left;
}

header {
    background: white url("../img/color-header.png") no-repeat;
    background-size: 100% 10px;
}

header img#logo {
    margin-top: 18px;
    margin-left: 1.5%;
    
    height: 46px;
    width: 190px;
}

/************************************
************** NAV BAR **************
*************************************/
div#nav-wrap {
    height: 114px;
    padding: 0;
}

div#nav {
    margin: 0;
    padding: 0;
}

/* LINK */
nav a {
    text-decoration: none;
    color: #a5a5a5;
}

nav a.nav-selected, nav a:hover {
    color: #262626;
}

nav a.nav-selected li, nav a:hover li {
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

/* BORDER COLORS */
nav li.nav-blue {
    border-bottom-color: #46a4c0;
}

nav li.nav-green {
    border-bottom-color: #9fbe40;
}

nav li.nav-yellow {
    border-bottom-color: #ffc500;
}

nav li.nav-red {
    border-bottom-color: #c3404c;
}

/* LIST STYLING */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    padding: 2% 1%;
}

nav .number {
    font-size: 2em;
}

/************************************
*************** TEXT ****************
*************************************/
/* PAGE HEADER -- bold, big */
h1 {
    font-weight: 600;
    font-size: 3.2em;
    padding: 0;
}

h2 {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 150%;
}

/* DIV TITLES -- thin, small, caps, underlined */
h3 {
    font-weight: 300;
    font-size: 1em;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;
}