/************************************
************** GENERAL **************
*************************************/
body {
    background-color: #f1eeee;
    font-family: 'Open Sans', sans-serif;
    color: #262626;
}

div {
    background-color: white;
    text-align: center;
    padding: 60px 9%;
    margin: 10px 6%;
}

/************************************
************** HEADER ***************
*************************************/
div#header {
    height: 72px;
    padding: 0;
    text-align: left;
}

header {
    background: white url("../img/color-header.png") no-repeat;
    background-size: 100% 10px;
}

header img#logo {
    margin-top: 18px;
    margin-left: 1.5%;
    
    height: 46px;
    width: 190px;
}

/************************************
************** NAV BAR **************
*************************************/
div#nav {
    padding-right: 1%;
    padding-left: 1%;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
}

nav li li {
    display: block;
}

/************************************
*************** TEXT ****************
*************************************/
h1 {
    font-weight: 600;
    font-size: 3em;
    padding: 0;
}

h2 {
    font-weight: 300;
    font-size: 1.5em;
}