@import 'colors';

div#other-features {
    table {
        margin: 0 0%;
    }
    
    p {
        text-align: left;
    }
    
    h4 {
        margin-top: 0;
    }
    
    td#hoverables div {
        margin: 0;
        padding: 0;
        background: white url("../img/page-6/menu-cut.png") no-repeat;
        background-size: contain;
        padding-bottom: 250%;
        position: relative;
    }
    
    /* IMAGE HOVERABLES */
    span.hoverables {
        display: inline-block;
        width: 97%;
        position: absolute;
        left: 0;
        border-color: $text-red;
        border-style: solid;
        border-width: 0px;
        z-index: 2;
        
        &#reports {
            padding-bottom: 75%; // maintain aspect ratio
        }
        
        &#supporters {
            padding-bottom: 35%;
            top: 30.8%;
        }
        
        &#profile {
            padding-bottom: 35%;
            top: 45.8%;
        }
        
        &#settings {
            padding-bottom: 92.5%;
            top: 60.8%;
        }
    }
    
    td#description span {
        display: none;
        position: static;
        width: auto;
        left: 0;
        border: none;
        
        &#default-description {
            display: inline-block;
        }
    }
}

div#transition {
    padding: 40px 15%;
}

a.email-link {
    text-decoration: none;
    color: $text-red;

    &:hover {
        color: $govo-red;
    }
    
    strong {
        font-weight: 600;
    }
}