@import 'colors';

div#other-features {
    table {
        margin: 0 0%;
        position: relative;
    }
    
    p {
        text-align: left;
    }
    
    h4 {
        margin-top: 0;
    }
    
    /* IMAGE HOVERABLES */
    span.hoverables {
        display: inline-block;
        width: 18.1%;
        position: absolute;
        left: 21.5%;
        border-color: $text-red;
        border-style: solid;
        border-width: 0px;
        z-index: 2;
        
        &#reports {
            padding-bottom: 13.7%; // maintain aspect ratio
        }
        
        &#supporters {
            padding-bottom: 6.7%;
            top: 106.9%;
        }
        
        &#profile {
            padding-bottom: 6.7%;
            top: 120%;
        }
        
        &#settings {
            padding-bottom: 17%;
            top: 132.9%;
        }
    }
    
    td#description span {
        display: none;
        position: static;
        width: auto;
        left: 0;
        border: none;
        
        &#default-description {
            display: inline-block;
        }
    }
}

div#transition {
    padding: 40px 15%;
}

a.email-link {
    text-decoration: none;
    color: $text-red;

    &:hover {
        color: $govo-red;
    }
    
    strong {
        font-weight: 600;
    }
}