@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1); }

  50% {
    -webkit-transform: scale(1.4, 1.4); }

  100% {
    -webkit-transform: scale(1, 1); } }

@keyframes pulse {
  0% {
    transform: scale(1, 1); }

  50% {
    transform: scale(1.4, 1.4); }

  100% {
    transform: scale(1, 1); } }

img {
  width: 100%; }

/* NAVIGATE */
div#navigate table td {
  width: 50%;
  text-align: left; }

/* FILL OUT THE FORM */
div#image-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  padding-bottom: 77.5%; }

div#image {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white url("../img/page-3/form.png") no-repeat;
  background-size: contain;
  background-position: center;
  /* HOVERABLE BOX */
  /* POPUP BOX */ }
  div#image span.hover {
    position: absolute;
    border: #ffc500 solid 4px;
    border-width: 0px; }
    div#image span.hover#private {
      top: 17%;
      left: 51%;
      width: 40%;
      height: 5%; }
    div#image span.hover#kid-friendly {
      top: 22.3%;
      left: 51%;
      width: 40%;
      height: 5%; }
    div#image span.hover#groups {
      top: 27.8%;
      left: 51%;
      width: 40%;
      height: 7.5%; }
    div#image span.hover#main-photo {
      top: 58.8%;
      left: 8%;
      width: 39%;
      height: 5.5%; }
    div#image span.hover#description {
      top: 38.4%;
      left: 51%;
      width: 40%;
      height: 18%; }
    div#image span.hover#time {
      top: 38.4%;
      left: 12%;
      width: 38%;
      height: 12%; }
    div#image span.hover#rsvp-limit {
      top: 74.5%;
      left: 8%;
      width: 39%;
      height: 5.5%; }
    div#image span.hover#shifts {
      top: 80.5%;
      left: 8%;
      width: 39%;
      height: 4.5%; }
    div#image span.hover:hover {
      border-width: 4px; }
      div#image span.hover:hover span.popup {
        display: inline-block; }
      div#image span.hover:hover:after {
        visibility: hidden; }
    div#image span.hover:after {
      visibility: visible;
      display: inline-block;
      position: absolute;
      top: 50%;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ffc500;
      -webkit-animation: pulse 2s linear infinite;
      animation: pulse 2s linear infinite; }
    div#image span.hover.right:after {
      left: 95%; }
    div#image span.hover.left:after {
      right: 90%; }
  div#image span.popup {
    display: none;
    position: absolute;
    color: #f1eeee;
    background-color: rgba(92, 92, 92, 0.95);
    padding: 2% 5%;
    width: 100%;
    z-index: 2;
    /* TRIANGLE TOOLTIP THINGIE */ }
    div#image span.popup:after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: rgba(92, 92, 92, 0.95);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    div#image span.popup.left:after {
      left: 0%;
      top: 50%;
      margin-left: -7.5px;
      margin-top: -7.5px; }
    div#image span.popup.right:after {
      right: 0%;
      top: 50%;
      margin-right: -7.5px;
      margin-top: -7.5px; }
    div#image span.popup strong {
      font-weight: 600;
      color: #f6b54e; }
    div#image span.popup#private {
      top: -230%;
      right: 105%; }
    div#image span.popup#kid-friendly {
      top: -110%;
      right: 105%; }
    div#image span.popup#groups {
      top: -110%;
      right: 105%; }
    div#image span.popup#main-photo {
      top: -100%;
      left: 105%; }
    div#image span.popup#description {
      top: 6%;
      right: 105%; }
    div#image span.popup#time {
      top: -60%;
      left: 105%;
      width: 105%; }
    div#image span.popup#rsvp-limit {
      top: -120%;
      left: 105%; }
    div#image span.popup#shifts {
      top: -225%;
      left: 105%; }

/* TRANSITION */
div#transition {
  padding: 30px 15%; }

/*# sourceMappingURL=page-3.css.map */