@import 'colors';

/* TITLE */
div#title {

}

/* CREATE AN ACCOUNT */
div#create-account section {
    margin: 1% 5% 4% 5%;
    position: relative;

    /* STYLE AND POSITION CIRCLE NUMBER */
    div.number {
        margin: 0;
        padding: 0;
        width: 45px;
        height: 45px;

        background-color: $text-green;

        line-height: 45px;
        color: white;

        border-radius: 50%;

        position: absolute;
        top: -5%;
        left: -2.5%;
    }
    
    /* BORDERED WRAPPER */
    div.wrapper {
        background-color: white;
        border: 2px solid $background-gray;
        border-radius: 10px;
        overflow: hidden;
        margin: 0;
        padding: 0;

        table {
            margin: -5px -1% -10px -1%; /* shrink table to fit picture neatly */
            
            td {
                width: 50%;
            }
            
            img {
                width: 100%;
            }
            
            /* GOVO HOMEPAGE LINK */
            a {
                text-decoration: none;
                color: $text-green;
            }
            a:hover {
                color: $govo-green;
            }
        }
    }
}

/* TRANSITION */
div#transition {
    padding: 30px inherit;
}