@import 'colors';

img {
    width: 100%;
}

/* NAVIGATE */
div#navigate {
    table {
        td {
            width: 50%;
            text-align: left;
        }
    }
}

/* FILL OUT THE FORM */
div#image-wrapper {
    margin: 0;
    padding: 0;
    
    position: relative;
    width: 100%;
    padding-bottom: 77.5%;
}

div#image {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0; left: 0; right: 0; bottom: 0;
    background: white url("../img/page-3/form.png") no-repeat;
    background-size: contain;
    background-position: center;
    
    /* HOVERABLE BOX */
    span.hover {
        position: absolute;
        border: $text-yellow solid 4px;
        border-width: 0px;
        
        &#private {
            top: 17%; left: 51%;
            width: 40%; height: 5%;
        }
        
        &#kid-friendly {
            top: 22.3%; left: 51%;
            width: 40%; height: 5%;
        }
        
        &#groups {
            top: 27.8%; left: 51%;
            width: 40%; height: 7.5%;
        }
        
        &#main-photo {
            top: 58.8%; left: 8%;
            width: 39%; height: 5.5%;
        }
        
        &#description {
            top: 38.4%; left: 51%;
            width: 40%; height: 18%;
        }
        
        &#time {
            top: 38.4%; left: 12%;
            width: 38%; height: 12%;
        }
        
        &#rsvp-limit {
            top: 74.5%; left: 8%;
            width: 39%; height: 5.5%;
        }
        
        &#shifts {
            top: 80.5%; left: 8%;
            width: 39%; height: 4.5%;
        }
        
        &:hover {
            border-width: 4px;
            span.popup {
                display: inline-block;
            }
        }
    }
    
    /* POPUP BOX */
    span.popup {
        display: none;
        position: absolute;
        color: $background-gray;
        background-color: rgba(92, 92, 92, 0.95);
        padding: 2% 5%;
        width: 100%;
        z-index: 2;
        
        /* TRIANGLE TOOLTIP THINGIE */
        &:after {
            content:'';
            position:absolute;
            width:15px;
            height:15px;
            background: rgba(92, 92, 92, 0.95);
            
            -moz-transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
            transform:rotate(45deg);
        }
        
        &.left:after {
            left: 0%; top: 50%;
            margin-left: -7.5px; margin-top: -7.5px;
        }
        
        &.right:after {
            right: 0%; top: 50%;
            margin-right: -7.5px; margin-top: -7.5px;
        }
        
        strong {
            font-weight: 600;
            color: $govo-yellow;
        }
        
        &#private {
            top: -230%; right: 105%;
        }
        
        &#kid-friendly {
            top: -110%; right: 105%;
        }
        
        &#groups {
            top: -110%; right: 105%;
        }
        
        &#main-photo {
            top: -100%; left: 105%;
        }
        
        &#description {
            top: 6%; right: 105%;
        }
        
        &#time {
            top: -60%; left: 105%;
            width: 105%;
        }
        
        &#rsvp-limit {
            top: -120%; left: 105%;
        }
        
        &#shifts {
            top: -225%; left: 105%;
        }
    }
    
}

/* TRANSITION */
div#transition {
    padding: 30px 15%;
}