@import 'colors';

img {
    width: 100%;
}

/* NAVIGATE */
div#navigate {
    table {
        td {
            width: 50%;
            text-align: left;
        }
    }
}

/* TRANSITION */
div#transition {
    padding: 30px 15%;
}