$background-gray: #f1eeee;

$govo-blue: #649daa;
$govo-green: #95aa4a;
$govo-yellow: #f6b54e;
$govo-red: #a83743;

$text-blue: #46a4c0;
$text-green: #9fbe40;
$text-yellow: #ffc500;
$text-red: #c3404c;
$text-grey: #262626;

body {
    background-color: $background-gray;
}